<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="BincomMVC6_1.dll" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments=".\BincomMVC6_1.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>